.section--leChicALaFrancaise {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 15%;

    .section--leChicALaFrancaise__header {
        font-size: 3.7em;
        white-space: nowrap;
        margin-bottom: 5%;
        margin-top: 5%;
    }
}

.leChicALaFrancaise {
    width: 90%;
    background-color: $leChicALaFrancaise-background;

    .leChicALaFrancaise__header {
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 4.5em;
        text-align: center;

        h2 {
            margin: 0;
            background: -webkit-linear-gradient(-65deg, $leChicALaFrancaise-primaire, $leChicALaFrancaise-secondaire);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .leChicALaFrancaise__menu_title {
        width: auto;
        margin-bottom: 7%;
        margin-left: 5%;
        margin-right: 5%;
        cursor: default;
        white-space: nowrap;
        font-size: 2.5em;
        font-weight: bold;
        margin-top: 7%;
        text-align: center;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-transition: background-image 0.5s ease-in-out;
        transition: background-image 0.5s ease-in-out;

        span {
            position: relative;
            background-color: $leChicALaFrancaise-background;
        }
    }

    p {
        font-size: 2.2em;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 3%;
        margin-bottom: 3%;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;

        span {
            font-weight: bold;
        }
    }

    .leChicALaFrancaise__menu_title--starter {
        color: $text-starter-color;

        &:hover {
            background-image: url(../img/losangeBrown.png);
        }
    }

    .leChicALaFrancaise__menu_title--dish {
        color: $text-dish-color;

        &:hover {
            background-image: url(../img/losangePurple.png);
        }
    }

    .leChicALaFrancaise__menu_title--dessert {
        color: $text-dessert-color;

        &:hover {
            background-image: url(../img/losangeBluePurple.png);
        }
    }

    .leChicALaFrancaise__text--starter {
        color: $text-starter-color;
    }

    .leChicALaFrancaise__text--dish {
        color: $text-dish-color;
    }

    .leChicALaFrancaise__text--dessert {
        color: $text-dessert-color;
    }
}

@media only screen and (max-width: 540px) {

    .section--leChicALaFrancaise {
        margin-bottom: 15%;

        .section--leChicALaFrancaise__header {
            font-size: 1.9em;
        }
    }

    .leChicALaFrancaise {
        margin-bottom: 15%;
        width: 100%;

        .leChicALaFrancaise__header {
            font-size: 2.6em;
        }

        .leChicALaFrancaise__menu_title {
            white-space: initial;
            font-size: 2.2em;
            width: auto;
            margin-top: 20%;
            text-align: center;

            span {
                margin-left: 0;
                margin-right: 0;
                top: 0;
            }
        }

        p {
            font-size: 1.5em;
            text-align: center;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            margin: 10%;

            span {
                margin-top: 5%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .leChicALaFrancaise__menu_title {
        width: auto;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px double white;
        border-radius: 15px;
        background-image: none;
        -webkit-animation: decoration_leChicALaFrancaise 1.5s;
        animation: decoration_leChicALaFrancaise 2s linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;

        &:hover {
            background-image: none;
        }
    }
}

@media only screen and (min-width: 2100px) {


    .section--leChicALaFrancaise {
        .section--leChicALaFrancaise__header {
            font-size: 5em;
        }
    }

    .leChicALaFrancaise {
        .leChicALaFrancaise__header {
            font-size: 7.5em;
        }

        .leChicALaFrancaise__menu_title {
            font-size: 4em;
            border-bottom: 20px solid transparent;
            border-radius: 40px;

        }

        p {
            font-size: 3.5em;
        }
    }
}