.container {
    width: 100%;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.menu {
    @include center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 25px;
    width: 45%;
    height: 700px;
    box-shadow: 1px 1px 3px grey;
    font-size: 1.5em;

    p {
        font-size: 1.5em;
    }

    span {
        font-size: 2.5em;
        margin-top: 5%;
    }

    &:hover .menu__title {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0.5;
    }
}

.menu__title {
    text-align: center;
    -webkit-transition: 0.850s ease-in-out;
    transition: 0.850s ease-in-out;
    opacity: 1;

    .fa-music {
        font-size: 3.5em;
        background: -webkit-linear-gradient(left, red, orange);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.menu--pink {
    background-color: #fbd9db;

    p {
        font-family: 'Devonshire', cursive;
    }

    span {
        font-family: 'Tillana', cursive;
    }
}

.menu--purple {
    background-color: #ffe7fe;

    p {
        background: -webkit-linear-gradient(-65deg, #ffb100, #5400ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Croissant One', cursive;
    }

    span {
        color: #e8a307;
    }
}

.menu--grey {
    background-color: #f1f1f1;

    p {
        background: -webkit-linear-gradient(-65deg, #0f00f5, #00d2ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Dancing Script', cursive;
    }

    span {
        color: #00d2ff;
        font-family: 'Tillana', cursive;
    }
}

.menu--white {
    p {
        background: -webkit-linear-gradient(-65deg, #057f07, #00ff66);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Kaushan Script', cursive;
    }

    span {
        color: #057f07;
    }
}

.container__prochainement {
    margin-bottom: 10%;
}

.prochainement {
    @include center;
    background-color: $background-theme-color;
    color: $text-theme-color;
    min-width: 500px;
    width: 30%;
    margin-top: 4%;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px grey;

    h2 {
        margin: 0;
        font-size: 4em;
    }

    .wave {
        margin-left: 10px;
        margin-top: 30px;

        .dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 3px;
            background: $text-theme-color;
            -webkit-animation: wave 1.3s linear infinite;
            animation: wave 1.3s linear infinite;
        }

        .dot:nth-child(2) {
            -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
        }

        .dot:nth-child(3) {
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
        }
    }
}

@media only screen and (max-width: 500px) {

    .menu {
        font-size: 1.4em;
        height: 450px;
        margin-top: 0;

        p {
            font-size: 1em;
        }

        span {
            font-size: 1em;
        }

        &:hover .menu__title {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            opacity: 0.5;
        }
    }

    .fa-music {
        font-size: 2em;
    }

}

@media screen and (max-width: 1024px) {

    .container {
        width: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .menu {
        margin: 10px;
        width: 100%;

        &:hover .menu__title {
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
            opacity: 0.5;
        }
    }

    .container__prochainement {
        margin-bottom: 120px;
    }

    .prochainement {
        min-width: 0;
        width: auto;
        padding: 5px;

        h2 {
            font-size: 2em;
        }

        .wave {
            margin-top: 10px;

            .dot {
                width: 5px;
                height: 5px;
            }
        }
    }

}

@media only screen and (min-width: 2100px) {

    .menu {
        height: 800px;
        font-size: 2.5em;
    }

}