/*mainPage, header, footer*/
$text-theme-color: #ffe001;
$background-theme-color:#3fab62;
/*leChicALaFrancaise*/
$leChicALaFrancaise-background: #fff5fe;
$leChicALaFrancaise-primaire: #e38913;
$leChicALaFrancaise-secondaire: #8f5bfe;
$text-starter-color: #c67412;
$text-dish-color: #a56799;
$text-dessert-color: #6e4ccc;
/*leDeliceDesPapilles*/
$leDeliceDesPapilles-background: #e2e7f5;
$leDeliceDesPapilles-base: blue;
$leDeliceDesPapilles-complement: #00d2ff;
/*laPaletteDuGout*/
$laPaletteDuGout-background: #ffffff;
$laPaletteDuGout-primaire: #008116;
$laPaletteDuGout-secondaire: #7df390;
