@import url(baseHeaderFooter.css);
section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 15%;
}

section .section__header {
  font-size: 3.7em;
  white-space: nowrap;
  margin-bottom: 10%;
}

article {
  width: 90%;
  background-color: #ffffff;
}

article .article__header {
  margin-top: 2%;
  font-size: 4.5em;
  text-align: center;
}

article .article__header h2 {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  background: -webkit-linear-gradient(-65deg, #008116, #7df390);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

article .article__menu_title {
  width: 100%;
  margin-bottom: 7%;
  font-family: 'Kalam', cursive;
  cursor: default;
  white-space: nowrap;
  font-size: 2.5em;
  margin-top: 7%;
  text-align: center;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
}

article .article__menu_title:hover {
  background-image: url(../img/barres2.png);
}

article .article__menu_title span {
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #ffffff;
}

article p {
  font-family: 'Kalam', cursive;
  font-size: 2.2em;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

article p span {
  font-family: 'Kalam', cursive;
  font-weight: bold;
}

@media only screen and (max-width: 540px) {
  section {
    margin-bottom: 15%;
  }
  section .section__header {
    font-size: 1.9em;
  }
  article {
    width: 100%;
    margin-bottom: 15%;
  }
  article .article__header {
    font-size: 2.6em;
  }
  article .article__menu_title {
    font-size: 2.2em;
    width: auto;
    margin-top: 20%;
    text-align: center;
  }
  article .article__menu_title span {
    margin-left: 0;
    margin-right: 0;
    top: 0;
  }
  article p {
    font-size: 1.5em;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 10%;
  }
  article p span {
    margin-top: 5%;
  }
  article .article__footer {
    font-size: 2em;
  }
}

@media only screen and (max-width: 768px) {
  .article__menu_title {
    width: auto;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid white;
    background-image: none;
    -webkit-animation: decoration 1.5s;
    animation: decoration 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
  .article__menu_title:hover {
    background-image: none;
  }
}

@media only screen and (min-width: 2100px) {
  section .section__header {
    font-size: 5em;
  }
  article .article__header {
    font-size: 7.5em;
  }
  article .article__menu_title {
    font-size: 4em;
    border-bottom: 20px solid transparent;
    border-radius: 40px;
  }
  article p {
    font-size: 3.5em;
  }
  article .article__footer {
    font-size: 5em;
  }
}

@-webkit-keyframes decoration {
  0% {
    border-bottom: 10px solid #008116;
  }
  50% {
    border-bottom: 10px solid #3fba53;
  }
  100% {
    border-bottom: 10px solid #58d16b;
  }
}
/*# sourceMappingURL=laPaletteDuGout.css.map */