@import url(baseHeaderFooter.css);
section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 7%;
}

section .section__header {
  font-size: 4.9em;
}

article {
  width: 90%;
  background-color: #ffd4dc;
}

article .article__header {
  margin-top: 7%;
  font-size: 2.9em;
  text-align: center;
}

article .article__header h2 {
  margin: 0;
  font-family: 'Devonshire', cursive;
}

article .article__header i {
  font-size: 2.5em;
  background: -webkit-linear-gradient(left, red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

article .article__menu_title {
  width: 100%;
  font-family: 'Kalam', cursive;
  font-weight: bold;
  white-space: nowrap;
  font-size: 3.3em;
  margin-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

article .article__menu_title:hover hr {
  opacity: 1;
}

article hr {
  width: 30%;
  height: 10px;
  border-radius: 50px;
  margin-left: 5%;
  margin-right: auto;
  background-color: black;
  border: none;
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

article hr:nth-child(even) {
  margin-right: 5%;
  margin-left: auto;
}

article p {
  font-family: 'Kalam', cursive;
  font-size: 2.2em;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

article p span {
  font-family: 'Kalam', cursive;
  font-weight: bold;
}

article .article__footer {
  font-family: 'Devonshire', cursive;
  font-size: 3.6em;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

article .article__footer i {
  margin-right: 1%;
  background: -webkit-linear-gradient(left, red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 700px) {
  section {
    margin-bottom: 20%;
  }
  section .section__header {
    font-size: 2em;
  }
  article {
    width: 100%;
  }
  article .article__header {
    font-size: 2.2em;
  }
  article .article__header i {
    font-size: 2.2em;
  }
  article .article__menu_title {
    font-size: 2.5em;
    text-align: center;
    display: block;
    -webkit-text-decoration: underline black;
    text-decoration: underline black;
    -webkit-animation: decoration 2s;
    animation: decoration 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  article p {
    font-size: 1.5em;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  article .article__footer {
    font-size: 2em;
  }
  hr {
    display: none;
  }
}

@media only screen and (min-width: 2100px) {
  section .section__header {
    font-size: 5em;
  }
  article .article__header {
    font-size: 5.5em;
  }
  article .article__menu_title {
    font-size: 4em;
  }
  article p {
    font-size: 3.5em;
  }
  article .article__footer {
    font-size: 5em;
  }
}

@-webkit-keyframes decoration {
  0% {
    -webkit-text-decoration: underline black;
    text-decoration: underline black;
    color: black;
  }
  25% {
    -webkit-text-decoration: underline #3b3c3c;
    text-decoration: underline #3b3c3c;
    color: #3b3c3c;
  }
  50% {
    -webkit-text-decoration: underline #7a7b7b;
    text-decoration: underline #7a7b7b;
    color: #7a7b7b;
  }
  100% {
    -webkit-text-decoration: underline #848484d6;
    text-decoration: underline #848484d6;
    color: #848484d6;
  }
}
/*# sourceMappingURL=noteEnchantée.css.map */